body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.header {
    background-color: grey;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main-content {
    background-color: purple;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/* Sidebar */

.sidebar-header {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

ul {
    padding: 0;
    display: grid;
    gap: 15px;
}

.first-list {
    margin-bottom: 40px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Header */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}

.firstrow {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userinfo {
    display: grid;
    margin-right: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.searchbar {
    justify-self: flex-start;
    margin-left: 10px;
}

.secondrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcomeUser {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    justify-items: flex-start;
}

.pictureBig {
    justify-self: center;
}

.uploadbuttons {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Main Content */

.card {
    border: 2px solid white;
    background-color: grey;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
}

h5 {
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

p {
    color: white;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.projects {
    display: grid;
    padding: 0 10px 0 10px;;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.announcements, .trending {
    width: 200px;
    border: 2px solid white;
    background-color: grey;
}

.title {
    font-weight: bold;
    color: white;

}

.border {
    border-top: 2px solid white;
}

.main-content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
}

.trendingContainer {
    grid-column: 2 / -1;
}

.biggerConatiner {

}